<h1>todo list #<%= @id %></h1>

<ul>
  <h2><%= @list_name %></h2>
  <li>
    <input type="checkbox"></input>
    <span> <% @todo_desc_1 %> </span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span><% @todo_desc_2 %></span>
    <strong>1 pomodoro</strong>
  </li>
</ul>